<table>
  <tr>
  
    <th><b>Publisher Email </b></th>
    <th><b>Application Name </b></th>
  </tr>
 
  <% @notification.each do |notification| %>
    <tr>
     
      <td><%= notification.user_email %></td>
       <td><%= notification.appname%></td>
       <td><%= link_to 'View' , application_path(notification.app_id) %></td>
       
        
     </tr>
 
   <% end %>
</table>