
<style>

body {
       background: #A9A9A9 url(http://grandeurresortservices.com/wp-content/uploads/2014/01/sales-marketing.jpg);
          background-repeat: no-repeat;
           background-position: center;
           
} 
 p{ 
       text-align: left;
      font-family:Times New Roman ;font-size:30pt ; 
      margin-top:40px;
      margin-left: 20px; 
      color:black;
                 
    }
    
    table {
     
       font-size: 25px;
       font-family: Times New Roman;
       margin-left: 20px;
       text-align: left ;
       line-height: 2em;
      
}

  td {
   padding: 15px;
}
    
    div {
        
            margin-top: 460px;
    }


</style>
<p>
  <b> Category Name:</b>
  <i> <%= @category.name %> </i>
  
</p>
<table>
  
 <% @applications.each do |application| %>
    <tr>
      <td><%= application.appname %></td>
      <td><%= link_to 'View' , application_path(application) %></td>
</tr>
<% end %>
</table>

<div>
<%= link_to 'Back', categories_path %>
</div>
