<style>
    body{
      background:url("http://ak2.picdn.net/shutterstock/videos/4637666/preview/stock-footage-elegant-waving-canvas-grey-and-white-background-loop.jpg");
      background-size: 2000pt;
      background-position: center;
      color: #2B3856;
        
    }
    h1 {
           font-family: "Trebuchet MS", Helvetica, sans-serif; font-size 50pt; font-style: normal ;
           color: navy ;
           margin-top: 70px;
           margin-left: 50px;
           margin-bottom:40px;
        }
 
      p{ 
      
        font-family : "Trebuchet MS", Helvetica, sans-serif;font-size:18pt ; font-style: normal; 
        margin-top:40px;
        margin-left: 50px;

       }
     strong{
        color: #006400 ;
     }

</style>
<h1> User Request Details </h1>

<p>
  <strong>User Email:</strong>
  <%= @request.user_email %>
</p>
 
<p>
  <strong>Reason:</strong>
  <%= @request.reason %>
  
  
</p>
 
<%= link_to 'Back', requests_path(request)%>